html, body {
    height: 100%;

}
body{
    padding-top: 70px;
}
/* Banner */


/* Modal */
.modal-dialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    -o-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none
}



.modal-dialog:target {
    opacity:1;
    pointer-events: auto;
}

.modal-dialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    float: right;
}


/*! nouislider - 8.5.1 - 2016-04-24 16:00:30 */


.noUi-target,.noUi-target *{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -ms-touch-action:none;
    touch-action:none;
    -ms-user-select:none;
    -moz-user-select:none;
    user-select:none;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.noUi-target{
    position:relative;
    direction:ltr
}
.noUi-base{
    width:100%;
    height:100%;
    position:relative;
    z-index:1
}
.noUi-origin{
    position:absolute;
    right:0;
    top:0;
    left:0;
    bottom:0
}
.noUi-handle{
    position:relative;
    z-index:1
}
.noUi-stacking .noUi-handle{
    z-index:10
}
.noUi-state-tap .noUi-origin{
    -webkit-transition:left .3s,top .3s;
    transition:left .3s,top .3s
}
.noUi-state-drag *{
    cursor:inherit!important
}
.noUi-base,.noUi-handle{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
.noUi-horizontal{
    height:18px
}
.noUi-horizontal .noUi-handle{
    width:34px;
    height:28px;
    left:-17px;
    top:-6px
}
.noUi-vertical{
    width:18px
}
.noUi-vertical .noUi-handle{
    width:28px;
    height:34px;
    left:-6px;
    top:-17px
}
.noUi-background{
    background:#FAFAFA;
    box-shadow:inset 0 1px 1px #f0f0f0
}
.noUi-connect{
    background:#3FB8AF;
    box-shadow:inset 0 0 3px rgba(51,51,51,.45);
    -webkit-transition:background 450ms;
    transition:background 450ms
}
.noUi-origin{
    border-radius:2px
}
.noUi-target{border-radius:4px;border:1px solid #D3D3D3;box-shadow:inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB}.noUi-target.noUi-connect{box-shadow:inset 0 0 3px rgba(51,51,51,.45),0 3px 6px -5px #BBB}.noUi-draggable{cursor:w-resize}.noUi-vertical .noUi-draggable{cursor:n-resize}.noUi-handle{border:1px solid #D9D9D9;border-radius:3px;background:#FFF;cursor:default;box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB}.noUi-active{box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB}.noUi-handle:after,.noUi-handle:before{content:"";display:block;position:absolute;height:14px;width:1px;background:#E8E7E6;left:14px;top:6px}.noUi-handle:after{left:17px}.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before{width:14px;height:1px;left:6px;top:14px}.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect,[disabled].noUi-connect{background:#B8B8B8}[disabled] .noUi-handle,[disabled].noUi-origin{cursor:not-allowed}.noUi-pips,.noUi-pips *{-moz-box-sizing:border-box;box-sizing:border-box}.noUi-pips{position:absolute;color:#999}.noUi-value{position:absolute;text-align:center}.noUi-value-sub{color:#ccc;font-size:10px}.noUi-marker{position:absolute;background:#CCC}.noUi-marker-large,.noUi-marker-sub{background:#AAA}.noUi-pips-horizontal{padding:10px 0;height:80px;top:100%;left:0;width:100%}.noUi-value-horizontal{-webkit-transform:translate3d(-50%,50%,0);transform:translate3d(-50%,50%,0)}.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px}.noUi-marker-horizontal.noUi-marker-sub{height:10px}.noUi-marker-horizontal.noUi-marker-large{height:15px}.noUi-pips-vertical{padding:0 10px;height:100%;top:0;left:100%}.noUi-value-vertical{-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0);padding-left:25px}.noUi-marker-vertical.noUi-marker{width:5px;height:2px;margin-top:-1px}.noUi-marker-vertical.noUi-marker-sub{width:10px}.noUi-marker-vertical.noUi-marker-large{width:15px}.noUi-tooltip{display:block;position:absolute;border:1px solid #D9D9D9;border-radius:3px;background:#fff;padding:5px;text-align:center}.noUi-horizontal .noUi-handle-lower .noUi-tooltip{top:-32px}.noUi-horizontal .noUi-handle-upper .noUi-tooltip{bottom:-32px}.noUi-vertical .noUi-handle-lower .noUi-tooltip{left:120%}.noUi-vertical .noUi-handle-upper .noUi-tooltip{right:120%}


/* Below is styling on instructor-courses.php*/

#project-list, #student-list {
    border:2px solid black;
    width:auto;
    height: 100px;
    overflow-x: scroll;
}

/*Above is styling for on instructor-courses.php*/

.course-val {
    display: inline-block;
}


/*Styling for instructor-project.php*/

#project-description, #importance-statment, #chosen-machnisms, #group-intro{
    margin-bottom: 20px;
}

#tabs {
    overflow: hidden;
}

.groups-list {
    width: 500px;
}

.group-tabs {
    float: left;
    height: 50%;
    overflow-y: scroll;
    /*width: 500px;*/
}

.group-members {
    float: right;
}

.group-submissions {
    /*float: left;*/

}
#manage-group-panels{
    width: auto;
}

#project-list-inpro{
    height: 250px;
    width: 438px;
    overflow-x: scroll;
    border:1px solid grey;

}
.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: inherit;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: 2px solid grey;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    /*background: #CCC;*/
    border-radius: 4px 0 0 4px;
    border-right: 2px solid grey;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 2px solid grey;
    border-width: 2px 0 2px 2px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 2px solid grey;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 2px solid grey;
    border-radius: 0;
    position: relative;
    left: -1px;
}
#add-deliverables a{
    margin-bottom: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Styling for instructor-project.php*/

/*Styling for instructor-add-project.php*/



#steps-panel{
    /*background: blue;*/
    height: 950px;
}

#panel-1, #panel-2, #panel-3, #panel-4, #panel-5{
    height: 187px;
}

#panel-content{
    margin-top: 60px;
    padding-left: 50px;
}

#write-description, #group-importance-statement, #group-clustering-formation, #group-introduction-mechanism, #complete-div{
    height: 100px;
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}


#clustering-algos{
    margin-top: 20px;
}
#accordion-clustering-algo{
    margin-top: 20px;
}

#select-algo{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#select-algo label{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

#space-out{
    width: 100%;
    height: 50px;
    margin-top: 50px;
}

#space-out .noUi-connect {
    background: #337AB9;
}
#group-size-range label{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}
#group-size-range input[type="number"]{
    width: 50px;
    height: 30px;
    font-size: 18px;
    font-weight: 200;

}
#rangeSlider{
    margin-bottom: 20px;
}

#range{
    margin-bottom: 15px;
}

#max-option{
    float: right;
}

.scrollbox {
    height:200px;
    overflow-x:scroll;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

#summary {
    height:200px;
    overflow-x:scroll;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 15px;
}

#chart {
    margin: 2em auto;
    list-style: none;
    padding: 0;
    max-width: 500px;
    position: relative;
    top: 2em;
}

#chart li {
    display: inline;

}

#chart .block {
    width: 200px;
    /*margin-top: 10em;*/
    height: 200px;
    border: 2px solid #337AB9;
    border-radius: 5px;
    -webkit-transform: rotate( 45deg );
    -ms-transform: rotate( 45deg );
    transform: rotate( 45deg );
    position: relative;

}

#chart li:nth-of-type(4){
    margin-right: 5px;
    margin-top: 10em;
}
#chart li:nth-of-type(3){
    margin-top: 10em;
}

#chart .block-content {
    -webkit-transform: rotate( -45deg );
    -ms-transform: rotate( -45deg );
    transform: rotate( -45deg );
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -0.5em;
}

#add-project-options, #add-project-examples{
    margin-bottom: 10px;
    margin-right: 10px;
}

#saved-group-formation{
    margin-bottom: 30px;
    /*background: red;*/
}
#saved-group-formation table{
    /*background-color: azure;*/
    height: 180px;
}

#saved-group-formation tbody tr td:nth-of-type(2){
    text-align: right;
}


/*Styling for instructor-add-project.php*/


/*Styling for student-start-project.php*/

.panel-body p{
    height: 300px;
}
#student-form-group{
    margin-bottom: 20px;
}

#clust-para p, #intro-para p{
    border: 2px solid #D3D3D3;
    padding: 10px;
}

#check-description, #check-statement{
    margin-bottom: 20px;
}
/*Styling for student-start-project.php*/




/*Styling for student-project.php*/
#member-list-area{
    padding-top: 20px;
    width: 60%;
}
#member-list {
    border: 1px solid gray;
    width: auto;
    height: 50%;
    overflow-x: scroll;
}



#expectation-list {
    border: 1px solid gray;
    width: auto;
    height: 50%;
    overflow-x: scroll;
}

tr {
    width: 100%;
    display: inline-table;
}

table{
    height:300px;
    margin: 0;
}

tbody{
    overflow-y: scroll;
    height: inherit;
    width: 100%;
    position: absolute;
    margin-bottom: 0;
}

#commun-link-area{
    height:300px;
    margin: 0;
}
/*Styling for student-start-project.php*/


/*Styling for student-settings.php*/

#profile-pic{
    /*background: red;*/
    width: 100%;
    height: 500px;
}

#profile-pic img{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}



#section0{
    height: 75px;
}

#section1 div:first-of-type {
    /*background: orange;*/
    height: 75px;
}
#section1 div:nth-of-type(2) {
    /*background: pink;*/
    height: 75px;
}
#section2{
    /*background: #f333f3;*/
    height: 75px;
}
#section3{
    /*background: #f4ffff;*/
    height: 75px;
}

#section4{
    /*background: #b5bbbb;*/
    height: 75px;
}

#profile-info{
    margin-top: 50px;
    width: 100%;
    height: 500px;
    font-size: 17px;
    /*background: grey;*/
}

#dn input[type="text"]{
    width: 100%;
}

#fn input[type="text"]{
    /*margin-top: 2px;*/
    width: 100%;
}

#ln input[type="text"]{
    /*margin-top: 2px;*/
    width: 100%;
}

#dn p{
    text-align: center;
}

#ln p{
    text-align: center;
}

#fn p{
    text-align: center;
}

#email-part p{
    text-align: center;
}

#email-part input[type="text"]{
    width: 100%;
    /*background: purple;*/
}

#pw input[type="text"]{
    /*margin-top: 2px;*/
    width: 100%;
}

#pw p{
    text-align: center;
}

#change-pw button{
    margin-top: 30px;
}

#course-manage-list {
    border:2px solid black;
    width:auto;
    height: 200px;
    overflow-x: scroll;
}
/*Styling for student-settings.php*/



/*Styling for student-cluster-form.php*/

#skills-list{
    border:2px solid #ccc;
    width:100%;
    height: 200px;
    overflow-y: scroll;
}

/*Styling for student-cluster-form.php*/



/*Styling for student-charter-form.php*/
input[type="text"]{
    width: 70%;
}
#part_1, #part_2, #part_3, #part_4{
    transform: translate(10%);
}
/*Styling for student-charter-form.php*/



/*Styling for login.php*/

body .a0-primary.a0-next{
    background-color: #337ab7 !important;
}

body .a0-icon-badge{
    visibility: hidden;
}


#webpage-description div:first-of-type p{
    font-size: 30px;
    text-align:center;
}

#webpage-description div:first-of-type h5{
    font-size: 20px;
    text-align:center;

}
#research-affil{
    margin-bottom: 20px;
}

#group-work, #idea-generation, #charter-formation{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
}

#web-icons-area{
    /*height: 300px;*/
    /*background: red;*/
}
#web-rep-icons{
    width: 640px;
    /*background: blue;*/
    margin:0 auto;
}

#web-icons-area h3{
    display: inline;
    margin: 18px;
    text-align: center;
}

#users-part{
/*    background: green;*/
    margin-bottom: 20px;
    top:-50px;
}


#su-buttons{
    width: 100%;
/*    background: orange;*/
    height: 50px;
/*    transform: translateY(40%);*/
    margin: 0 auto;
    display: table;
    text-align: center;
    position: relative;

}

#su-buttons button{
    margin-right: 50px;
    font-size: 30px;
    /*margin-bottom: 50px;*/
    width: 300px;
}





/*Styling for login.php*/

/*Styling for index.php*/

#index-page {
    height: 600px;
}

#get-started{
    margin-top: 50px;
    width: 700px;
    font-size: 25px !important;
}


/*Styling for index.php*/




/* Styling for student-group-introduction */


input[type="checkbox"].css-check {
    display:none;
}

input[type="checkbox"].css-check  + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}


input[type="checkbox"].css-check:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}

.expect-label {
    font-weight: normal;
    font-size: 18px;
}

#group-intro-submit {
    width: 90% !important;
}

#motivation-input {
    width: 90% !important;
}

#group-intro-content {
outline: 3px solid gray;
padding: 10px;
margin: 10px;
background-color: rgb(220, 220, 220);
}



.prof-pic{
width: 100%;
height: 100%;
max-height: 300px;
}


/* Alert styling */
.alert {
    background-color: rgba(150, 150, 150, 0.5);
    outline: 4px solid rgba(100, 100, 100, 1);
    /*border: 1px;
    border-color: rgba(0, 0, 200, 0.5);*/
}


.project-list-group {
    height: 500px;
}



.link {
    margin-right: 35%;
}


.deliverable {
    outline: 1px solid rgba(150, 150, 150, 0.5);
}



.deliverable-title {
    float: left;
}



.item {
    width: 100%;
    padding: inherit;
    display: inline-block;
}

.item-confirmed {
    background-color: rgb(39,232, 51);
    background-color: rgba(39, 232, 51, .5);

}


.item-pending {
    background-color: rgb(255, 255, 0);
    background-color: rgba(255, 255, 0, 1);
}
